SyntaxErrorWebApp/Bussiness/Connected Services/UsuarioWS/PersonaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PersonaWS" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BiblioWS/PersonaWS?xsd=1" namespace="http://bibliows.biblioteca.syntaxerror.com/" />
    </xsd:schema>
  </types>
  <message name="modificarPersona">
    <part name="parameters" element="tns:modificarPersona" />
  </message>
  <message name="modificarPersonaResponse">
    <part name="parameters" element="tns:modificarPersonaResponse" />
  </message>
  <message name="eliminarPersona">
    <part name="parameters" element="tns:eliminarPersona" />
  </message>
  <message name="eliminarPersonaResponse">
    <part name="parameters" element="tns:eliminarPersonaResponse" />
  </message>
  <message name="listarPersonas">
    <part name="parameters" element="tns:listarPersonas" />
  </message>
  <message name="listarPersonasResponse">
    <part name="parameters" element="tns:listarPersonasResponse" />
  </message>
  <message name="insertarPersona">
    <part name="parameters" element="tns:insertarPersona" />
  </message>
  <message name="insertarPersonaResponse">
    <part name="parameters" element="tns:insertarPersonaResponse" />
  </message>
  <message name="obtenerPersona">
    <part name="parameters" element="tns:obtenerPersona" />
  </message>
  <message name="obtenerPersonaResponse">
    <part name="parameters" element="tns:obtenerPersonaResponse" />
  </message>
  <portType name="PersonaWS">
    <operation name="modificarPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/modificarPersonaRequest" message="tns:modificarPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/modificarPersonaResponse" message="tns:modificarPersonaResponse" />
    </operation>
    <operation name="eliminarPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/eliminarPersonaRequest" message="tns:eliminarPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/eliminarPersonaResponse" message="tns:eliminarPersonaResponse" />
    </operation>
    <operation name="listarPersonas">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/listarPersonasRequest" message="tns:listarPersonas" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/listarPersonasResponse" message="tns:listarPersonasResponse" />
    </operation>
    <operation name="insertarPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/insertarPersonaRequest" message="tns:insertarPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/insertarPersonaResponse" message="tns:insertarPersonaResponse" />
    </operation>
    <operation name="obtenerPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/obtenerPersonaRequest" message="tns:obtenerPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PersonaWS/obtenerPersonaResponse" message="tns:obtenerPersonaResponse" />
    </operation>
  </portType>
  <binding name="PersonaWSPortBinding" type="tns:PersonaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPersonas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PersonaWS">
    <port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
      <soap:address location="http://localhost:8080/BiblioWS/PersonaWS" />
    </port>
  </service>
</definitions>