WA_Prueba/WA_Prueba/Connected Services/CreadorMaterialWS/CreadorMaterialWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreadorMaterialWS" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BiblioWS/CreadorMaterialWS?xsd=1" namespace="http://bibliows.biblioteca.syntaxerror.com/" />
    </xsd:schema>
  </types>
  <message name="existeRelacion">
    <part name="parameters" element="tns:existeRelacion" />
  </message>
  <message name="existeRelacionResponse">
    <part name="parameters" element="tns:existeRelacionResponse" />
  </message>
  <message name="desasociarMaterialCreador">
    <part name="parameters" element="tns:desasociarMaterialCreador" />
  </message>
  <message name="desasociarMaterialCreadorResponse">
    <part name="parameters" element="tns:desasociarMaterialCreadorResponse" />
  </message>
  <message name="asociarMaterialCreador">
    <part name="parameters" element="tns:asociarMaterialCreador" />
  </message>
  <message name="asociarMaterialCreadorResponse">
    <part name="parameters" element="tns:asociarMaterialCreadorResponse" />
  </message>
  <message name="listarMaterialesPorCreador">
    <part name="parameters" element="tns:listarMaterialesPorCreador" />
  </message>
  <message name="listarMaterialesPorCreadorResponse">
    <part name="parameters" element="tns:listarMaterialesPorCreadorResponse" />
  </message>
  <message name="listarCreadoresPorMaterial">
    <part name="parameters" element="tns:listarCreadoresPorMaterial" />
  </message>
  <message name="listarCreadoresPorMaterialResponse">
    <part name="parameters" element="tns:listarCreadoresPorMaterialResponse" />
  </message>
  <portType name="CreadorMaterialWS">
    <operation name="existeRelacion">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/existeRelacionRequest" message="tns:existeRelacion" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/existeRelacionResponse" message="tns:existeRelacionResponse" />
    </operation>
    <operation name="desasociarMaterialCreador">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/desasociarMaterialCreadorRequest" message="tns:desasociarMaterialCreador" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/desasociarMaterialCreadorResponse" message="tns:desasociarMaterialCreadorResponse" />
    </operation>
    <operation name="asociarMaterialCreador">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/asociarMaterialCreadorRequest" message="tns:asociarMaterialCreador" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/asociarMaterialCreadorResponse" message="tns:asociarMaterialCreadorResponse" />
    </operation>
    <operation name="listarMaterialesPorCreador">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/listarMaterialesPorCreadorRequest" message="tns:listarMaterialesPorCreador" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/listarMaterialesPorCreadorResponse" message="tns:listarMaterialesPorCreadorResponse" />
    </operation>
    <operation name="listarCreadoresPorMaterial">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/listarCreadoresPorMaterialRequest" message="tns:listarCreadoresPorMaterial" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/CreadorMaterialWS/listarCreadoresPorMaterialResponse" message="tns:listarCreadoresPorMaterialResponse" />
    </operation>
  </portType>
  <binding name="CreadorMaterialWSPortBinding" type="tns:CreadorMaterialWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="existeRelacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="desasociarMaterialCreador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="asociarMaterialCreador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMaterialesPorCreador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCreadoresPorMaterial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CreadorMaterialWS">
    <port name="CreadorMaterialWSPort" binding="tns:CreadorMaterialWSPortBinding">
      <soap:address location="http://localhost:8080/BiblioWS/CreadorMaterialWS" />
    </port>
  </service>
</definitions>