SyntaxErrorWebApp/SyntaxErrorWebApp/Connected Services/LoginWS/PersonaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPersona" type="tns:eliminarPersona" />
  <xs:element name="eliminarPersonaResponse" type="tns:eliminarPersonaResponse" />
  <xs:element name="insertarPersona" type="tns:insertarPersona" />
  <xs:element name="insertarPersonaResponse" type="tns:insertarPersonaResponse" />
  <xs:element name="listarPersonas" type="tns:listarPersonas" />
  <xs:element name="listarPersonasResponse" type="tns:listarPersonasResponse" />
  <xs:element name="modificarPersona" type="tns:modificarPersona" />
  <xs:element name="modificarPersonaResponse" type="tns:modificarPersonaResponse" />
  <xs:element name="obtenerPersona" type="tns:obtenerPersona" />
  <xs:element name="obtenerPersonaResponse" type="tns:obtenerPersonaResponse" />
  <xs:complexType name="listarPersonas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPersonasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaContratoFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaContratoInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelDeIngles" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="sede" type="tns:sedeDTO" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoPersona" />
      <xs:element minOccurs="0" name="turno" type="tns:turnos" />
      <xs:element minOccurs="0" name="vigente" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sedeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activa" type="xs:boolean" />
      <xs:element minOccurs="0" name="correoContacto" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoContacto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoPersona" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelDeIngles" />
      <xs:element minOccurs="0" name="turno" type="tns:turnos" />
      <xs:element minOccurs="0" name="fechaContratoInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaContratoFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vigente" type="xs:boolean" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoPersona" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelDeIngles" />
      <xs:element minOccurs="0" name="turno" type="tns:turnos" />
      <xs:element minOccurs="0" name="fechaContratoInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaContratoFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vigente" type="xs:boolean" />
      <xs:element minOccurs="0" name="idSede" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivelDeIngles">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BASICO" />
      <xs:enumeration value="INTERMEDIO" />
      <xs:enumeration value="AVANZADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoPersona">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LECTOR" />
      <xs:enumeration value="BIBLIOTECARIO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="turnos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MAÑANA" />
      <xs:enumeration value="TARDE" />
      <xs:enumeration value="NOCHE" />
      <xs:enumeration value="FULLTIME" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>